/* BASIC STYLES */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

header {
    width: 100%;
}

ul {
    list-style: none;
}

/* NAV BAR */

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

.nav-links {
    color: #404040;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
}

#sign_in {
    color: #fff;
}

.form {
    text-align: center;
}

#form-search {
    width: 650px;
    line-height: 32px;
    padding: 20px 10px;
    border-radius: 15px;
}

.form #form-search {
    padding: 0 8px;
}

/*#form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
  }*/

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.member {
    text-align: center;
}

.memberName {
    color: #ffffff;
    font-size: 18px;
    margin-top: 25px;
}

.memberFunction {
    color: #ffffff;
    transition: transform 1s;
}

.memberFunction:hover {
    transform: scale(1.3);
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    li.nav-links a {
        display: none;
    }
    #google_logo {
        padding: 0;
    }
    .buttons {
        display: none;
    }
    #form-search {
        width: 80%;
    }
    footer {
        bottom: 0;
    }
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
    .footer-left {
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 565px) {
    li.nav-links a {
        display: none;
    }
    #google_logo {
        padding: 0;
    }
    .buttons {
        display: none;
    }
    #form-search {
        width: 80%;
    }
    footer {
        /*    bottom: 0;
     postion: absolute; */
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
    .footer-left {
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
}

.bg-gradient {
    /* background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); */
    margin-top: 100px;
}

/* ul li {
    margin-bottom: 1.4rem;
} */

.pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 6em;
    position: relative;
}

.blue .pricing-divider {
    background: #2D5772;
}

.green .pricing-divider {
    background: #00BFA5;
}

.red b {
    color: #C64545
}

.blue b {
    color: #2D5772
}

.green b {
    color: #00BFA5
}

.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
}

.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.btn-custom {
    background: #C64545;
    color: #fff;
    border-radius: 20px
}

.img-float {
    width: 50px;
    position: absolute;
    top: -3.5rem;
    right: 1rem
}

.princing-item {
    transition: all 150ms ease-out;
}

.princing-item:hover {
    transform: scale(1.05);
}

.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
    /* background-color: #ff666f; */
    background-color: #000000;
}

a {
    color: #fff !important;
}

.nav-item {
    font-family: Century Gothic;
    margin: 0 auto;
    padding: 1em 3em;
    text-align: center;
}

.nav-item a {
    color: #FFF;
    text-decoration: none;
    font: 20px Century Gothic;
    /* margin: 0px 10px; */
    padding: 10px 10px;
    position: relative;
    z-index: 0;
}

/* Top & Bottom Borders Out */

.topBotomBordersOut a:before, .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}